<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="../public/libs/jquery.js"></script>
</head>

<body>
  <!-- 隐藏域
  1.它是一个input标签，可以设置name属性，有Value属性
  2.它可以通过serialie和formdata获取数据
  3.在页面中看不见，所以不会影响页面整体效果
  4，所以一般用于存储简单的用户数据，使用它主要的目的是为了后期参数获取方便 -->
  <form action="">
    <input type="hidden" name="id" value="15">
    用户名: <input type="text" name='username'> <br>
    密码: <input type="text" name="password"> <br>
    <input type="button" value="提交" class="btn">
  </form>

  <script>
    // let id = 10
    // $('.btn').on('click', function () {
    //   console.log($('form').serialize() + "&id=" + id);
    // })

    // let id = 10
    $('.btn').on('click', function () {
      console.log($('form').serialize());
    })
  </script>
</body>

</html>